@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body {
    display: flex;
    justify-content: center;
    background: aliceblue;
    font-family: 'Poppins', sans-serif;
}
.price-track{
    position: absolute;
    top: 25%;
    width: 750px;
    height: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

#market-name, #market-symbol{
    width: 100%;
    margin-bottom: 20px;
    height: 35px;
    border-radius: 6px
}
#current-price{
    width: 99%;
    height: 50%;
    text-align: center;
    box-shadow: 0px 7px 15px #80808085;
    border-color: rgb(0 0 0 / 27%);
    border-radius: 8px;
    border: 1px solid #00000091;
    font-size: 60px;
}

@media screen and (max-width: 749px) {
    .price-track{
        width: 550px;
    }
}

@media screen and (max-width: 560px) {
    .price-track{
        width: 450px;
    }
}

@media screen and (max-width: 460px) {
    .price-track{
        width: 300px;
    }
}